
body{
    background-color: black;
}
nav{
  display: flex;
 position: sticky;
   align-items: center;
   justify-content: space-between;
   margin: 10px 10px;
   top: 10px;
}
nav ul{
    margin-top: -50px;
}
 nav ul li {
   display: inline-block;
    margin: 0px 20px;
    
}
 nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-family: 'Shadows Into Light Two', cursive;

     margin: 0px 5px;
    padding: 5px;
    border: none;
    border-radius: .25em;
    position: relative;  
}
 nav ul li a::after{
    content: "";
    background-color: rgb(56, 171, 238);
    width: 0%;
    height: 2px;
    border-radius: .25em;
    left: 0;
    bottom: -2px;
    position: absolute;
    transition: width .5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header{
    background-image: url(IMAGES/aron-visuals-bZZp1PmHI0E-unsplash.JPG);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  
    
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}
.header-text p{
    font-weight: 100;
}
.header-text h1{
    font-weight: 400;
    font-family: 'Finger Paint', cursive;

}
.header-text span{
    color:rgb(56, 171, 238) ;
}
.about{
   
    background-size: cover;
    width: 100vw;
    height: 100%;
    justify-content: center;
    display: block;

}
.about p{
    font-size: 30px;
    color: aliceblue ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    padding: 1px 5px;
    display: inline-block;
   
}
.about p::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(56, 171, 238);
    left: 0px;
    bottom:-1px;
    border-radius: .25em;
    position: absolute;
    transition: transform 1s;
    
}
.about p:hover::after{
    transform: rotateY(180deg);
}

.about h2{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
#about{
    padding: 20px 0px;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.col-1{
    
 flex-basis: 55%;

}
.col-2{
    flex-basis: 35%;
    margin-right: 100px;
   
  
}
.col-2 h2{
    font-family: 'Shadows Into Light Two', cursive;
}
.col-2 p{
    font-family: 'Finger Paint', cursive;
}
.col-1 img{
    border-radius: 15px;
}
.tab-title{
    display: flex;
    margin: 20px 0px 40px;
    color: aliceblue;
}
#tab-links1{
 margin-right: 50px;
 font-size: 18px;
 font-weight: 300;
 font-family: 'Shadows Into Light Two', cursive;

  position: relative;
 cursor: pointer;

}
#tab-links2{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Shadows Into Light Two', cursive;

    position: relative;
    cursor: pointer;
   
   }
#tab-links3{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Shadows Into Light Two', cursive;

   position: relative;
    cursor: pointer;
   
   }
#tab-links1::after{
    content: "";
    width: 50%;
    height: 2px;
    background: rgb(56, 171, 238);
    left: 0px;
    bottom: -8px;
    position: absolute;
    border-radius: .25em;
    transition: all .5s;
}
#tab-links1:hover::after{
 width: 100%;
}
#tab-links2::after{
    content: "";
    width: 50%;
    height: 2px;
    background: rgb(56, 171, 238);
    left: 0px;
    bottom: -8px;
    position: absolute;
    border-radius: .25em;
    transition: all .5s;
}
#tab-links2:hover::after{
 width: 100%;
}
#tab-links3::after{
    content: "";
    width: 50%;
    height: 2px;
    background: rgb(56, 171, 238);
    left: 0px;
    bottom: -8px;
    position: absolute;
    border-radius: .25em;
    transition: all .5s;
}
#tab-links3:hover::after{
 width: 100%;
}

#slide ul{
    color: aliceblue;
    list-style: none;
}
#slide ul li{
     padding: 10px 0;
     font-family: 'Shadows Into Light Two', cursive;


}
#slide ul li span{
    color: rgb(56, 171, 238);
    font-size: 18px;

}

.tab-content.active-tab{
    display: block;
    color: aliceblue;
    position: absolute;
    margin-top: -100px;
}
#slide{
    width: 300px;
    height: 300px;
    color: aliceblue;
   
}
button{
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}
.services{
    position: relative;
    display: block;
    padding: 30px 0;
   
   
}

.tittle{
    display: block;
    color: aliceblue;
    font-family: 'Finger Paint', cursive;
    font-weight: 400;
    width: 100vw;
   text-align: center;
   justify-content: center;
   align-items: center;
 
   
   
   
}
 .services-list{
    position: absolute;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  color: aliceblue;
 margin-right: 20px;
 

}
.services-list .one{
    display: inline;
    margin-left: 40px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Shadows Into Light Two', cursive;

    font-size: 18px;
   transition: background .5s, transform 1s;
    border: none;
    border-radius: .5em;
    background-color:rgba(240, 248, 255, 0.233);
    align-items: center;
}
.services-list .one:hover{
    background-color:  rgb(56, 171, 238);
    transform: translateY(-10px);
}
.services-list .one:hover i{
    color: aliceblue;
}
.services-list div i{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: rgb(56, 171, 238);
    position: relative;
   text-align: center;
   font-size: 30px;
   transition: color .5s;

   
}
.one ul li{
   
    font-family: 'Shadows Into Light Two', cursive;

}

.services-list div ul li{
    list-style: none;
   
}
.sub-title{
    display: block;
    position: relative;
}
#footer{
    width: 100vw;
    height: 100vh;
    display: inline-block;
}
.attention h1{
  color: aliceblue;
  font-family: 'Finger Paint', cursive;
  font-size: 30px;
  font-weight: 400;


}
.attention h1 span{
    color: rgb(56, 171, 238);
}
.attention{
    margin-top: 300px;
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    text-align: center;
   
}
.attention-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.attention-list div{
    position: relative;
    width: 300px;
    height: 400px;
     opacity: 1;
     overflow: hidden;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.layer{
    position: relative;
    color: aliceblue;
    width: 100%;
    margin-top: -05px;
    height: 100%;
    transform: scale(1.1);
    background-image: linear-gradient(rgba(255, 255, 255, 0.39),rgba(56, 171, 238, 0.616),rgba(56, 171, 238, 0.616));
   transition: margin .5s;
   
   
}
.attention-list div:hover .layer{
    margin-top: -405px;
    transform: scale(1.1);
   
}
.attention-list div:hover img{
    transform: scale(1.2);
   
}
.attention-list img{
    transform: scale(1.1);
   
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    margin-left: 10px;
    border-radius: .25em;
    transition: transform .5s;
  
}
.layer ul li{
    font-family: 'Shadows Into Light Two', cursive;

    font-size: 15px;
    list-style: none;
   text-align: left;
   padding-left: 60px;

}
.layer ul{
    
    margin-top: 60px;
    margin-left: -35px;
    padding: 5px;
    justify-content: center;
}
.layer ul li .layer-tittle{
    color:  rgb(56, 171, 238);
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 15px;
}
.layer ul li span{
    color:  rgb(56, 171, 238);
}
.contact-list{
    width: 100%;
    height: 100vh;
}
.contact-list h2{
    font-family: 'Shadows Into Light Two', cursive;
}

.contact{
    width: 400px;
    display:flex;
    float: left;
   
    flex-wrap: wrap;
}
.contact a i{
    
    font-size: 50px;
    font-weight: 200;
    color:  rgb(56, 171, 238) ;
    margin-top: 20px;
    margin-left: 10px;
}
.contact span{
    width: 40px;
    margin-left: 40px;
    transition: margin .5s
    ;
}
.contact span:hover{
  margin-top: -10px;
}
.contact h1{
    text-align:left;
    display: block;
    width: 100%;
    margin-left: 22.5%;
}

 .contact-right{
    margin-top: 40px;
   align-items: center;
   text-align: center;
    width: 400px;
    height: 500px;
    float: right;
    display: flex;
    flex-direction:column;
    margin-right: 200px;
 
 }
 .contact-right input{
    display: block;
    width:100%;
   padding-left: 10px;
    text-align: center;
    margin: 10px;
    transition: all .5s;
    font-family: 'Finger Paint', cursive;
    color: aliceblue;
    text-align:left;
    font-size: 15px;
    font-weight: 400;
    border: 2px rgb(56, 171, 238) ;
    border-style: inset;
    border-radius: .5em;
    background-color:rgba(56, 171, 238, 0) ;
 }
 .contact-right input:hover{
    background-color: rgba(240, 248, 255, 0.226);
 }
 .contact-right textarea{
    display: block;
    width:100%;
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
  
    font-family: 'Finger Paint', cursive;
    color: aliceblue;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border: 2px rgb(56, 171, 238) ;
    border-style: inset;
    border-radius: .5em;
    background-color:rgba(56, 171, 238, 0) ;
    transition: all .5s;
 }
 .contact-right textarea:hover{
    background-color: rgba(240, 248, 255, 0.205);
 }
 input[type="submit"]{
    display: block;
    width: fit-content;
    height: 40px;
    margin-left: 40px;
    border: 2px rgb(56, 171, 238) ;
    ;
    background-color: rgba(240, 248, 255, 0);
   padding: 0px 50px;
   border-radius: 6px;
   border-style: inset;
   font-family: 'Finger Paint', cursive;
   color: aliceblue;
   text-align: center;
   font-size: 18px;
   font-weight: 400;
   letter-spacing: 4px;
 
      }
      input[type="submit"]:hover{
        background-color: rgb(56, 171, 238) ;
      }
      .contact-right h3{
        font-family: 'Finger Paint', cursive;
        color: aliceblue;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: column;

      }
      .contact-right{
        border-radius: 16px;
        border:2px rgb(56, 171, 238);
        border-style: inset;
       background-image: linear-gradient( to bottom right, rgba(240, 248, 255, 0.205), rgba(56, 171, 238, 0.432));
      }
      nav .round{
        border-radius: 50%;
        margin-left: 80px;
        margin-top: 50px;
      }
      .round1{
        position: absolute;
        top: -10px;
        left: -5px;
       animation: circle 5s linear infinite ;
      }
      @keyframes circle{
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
      }
      nav .TIME{
        position: absolute;
        font-size: 40px;
       
       
        color: aliceblue;
        margin-left: 100px;
        margin-top: 20px;
        font-family: 'Stardos Stencil', cursive;
      }
      nav button{
        margin-top: 0px;
        margin-right: 4em;
        cursor: pointer;
         z-index: 10;
         border: none;
      }
      nav ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0px;
        transform: translateX(100vw);
        background-color: rgba(0, 0, 0, 0.555);
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        transition: transform .5s;
      }
      body{
        width: 100vw;
        overflow-x: hidden;
       padding-left: 20px;
      }
      .allow{
        transform: translateX(0vw);
      }
     .one ul li span{
        color:rgb(0, 0, 0) ;
        transition: color .5s;
     }
     .one:hover .one ul li span{
        color: aliceblue;
     }
     .col-2 h2 span{
        color: rgb(56, 171, 238);
     }
      #msg{
        color: rgb(99, 243, 3);
        font-size: 25px;
        font-weight: 300;
      }

    @media screen and (max-width:600px){
        body{
            width: 414px;
            margin: 0;
            padding: 0%;
            Display: Block;
            padding-left:20px;
           overflow-X: hidden;
           Position:Relative;
         
        }body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
        nav{
            margin-left: -50px;
           
            width: 414px;
        }
        nav button{
           margin-right: 10px;
        }
       
       .round1{
        width: 5em;
        margin-top: 30px;
        margin-left:50px
       } 
       .round{
        
        width: 5em;
      
       } 
       nav .TIME{
        position: absolute;
        font-size: 25px;}
        .col-1 img{
            width: 300px;
            height: 400px;
            margin-left: 20px;
        }
        .header-text p{
         font-size: 18px;
        }
        .header-text h1{
            font-size: 25px;
        }
        .col-2{
            width: 70%;
             display: flex;
             flex-direction: column;}
           nav ul{
            transform: translateX(120vw) ;
           }
       .col-2 p{
        text-align: left;
        float: left;
       }
       .col-2 h2{
        padding: 20px;
        font-size: 18px;
       }
       .tab-title button{
        border: none;
        margin: 0px;
        padding: 0%;
    
       }
       .tab-title .tab-link{
        font-size: 15px;
       }
       .tab-title{
        margin: 5px;
       }
     

       .about p::after{
        content: "";
       display: none;
        
    }
    .services-list{
        position: relative;
     display: flex;
     flex-wrap: wrap;
      color: aliceblue;
    width: 100vw;
    margin-left: -30px;

    }
    .services-list .one{
        width: 75vw;
    }
    .attention{
        margin-top: -1px;
    }
    .attention h1{
        width: 70vw;
        text-align: center;
        margin-left: 20px;
    }
    .attention-list{
        position: relative;
        width: 100vh;
        height: 100vh;
       display: grid;
        grid-template-columns: repeat(1,1fr);
       align-items: center;
       margin-left: 10px;
    }
    
    .attention-list div{
         margin-bottom: 1em;
    }
    .attention-list div{
         
        width: 300px;
        height: 400px;
         opacity: 1;
         overflow: hidden;
        border-radius: .5em;
        position: relative;
        align-items: center;
      
      
        
    float: left;}
    .contact-list{
        margin: 0;
        position: relative;
    }
    .contact-list h2{
        position: relative;
        margin-top: 400px;
        width: 80vw;
    }
 .contact span:hover{
     margin-top: -10px;
 }
 .contact-right{
    display: none;
 }
 
    }
